SECRET_KEY=django-insecure-change-me
DEBUG=True
ALLOWED_HOSTS=127.0.0.1,localhost

POSTGRES_DB=edushare
POSTGRES_USER=postgres
POSTGRES_PASSWORD=
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

OPENROUTER_API_KEY=
OPENROUTER_MODEL=openai/gpt-oss-20b:free
